
@{
    ViewBag.Title = "Completed";
}

<div class="text-center">
    <h2>Thank you!</h2>
    <p>Thank you for choosing our store. Order in the shortest time will be sent to the delivery service.</p>
</div>

